@use "../../abstracts" as *;
@use "../../base" as *;

.movies {
  @extend .flex;
  @extend .fill;
  align-items: stretch;

  .info {
    width: calc(85% - 1em);
    @extend .grid;
    @extend .grid-responsive;
    padding: 1em 1em 1em 0;

    &:has(> .peeek-loading) {
      height: 100dvh;
      place-items: center;
    }

    .details {
      iframe {
        width: 100%;
        height: 50dvh;
        border-radius: 0.5em;
        background-color: var(--clr-neutral-900);
      }

      &-flex {
        margin-block: 0.5em;

        > div:first-child {
          @extend .flex;
          justify-content: flex-start;

          .runtime {
            @extend .flex;
            justify-content: flex-start;
            gap: 0.2em;
          }
        }

        svg {
          font-size: 0.5rem;
        }
      }

      a {
        --color: var(--clr-neutral-900);
        @extend %link;
        @extend .link;
        font-weight: 600;
        margin-block: 0.5em;
        display: block;
        width: max-content;
      }

      .genres div {
        @extend .flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 0.5em;

        span {
          background-color: var(--clr-primary-100);
          color: var(--clr-primary-500);
          font-weight: 500;
          border-radius: 100vmax;
          padding: 0.4em 1em;

          &:empty {
            display: none;
          }
        }
      }
    }
  }

  @include max(small) {
    flex-direction: column;
    justify-content: start;

    .info {
      width: 100%;
      padding-inline: 1em;
      padding-top: 0;

      .details {
        &-flex {
          > div:first-child {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5em;
            margin-bottom: 0.5em;
          }

          svg {
            display: none;
          }
        }
      }
    }
  }
}
