$breakpoints: (
  "small": 44em,
  "medium": 50em,
  "large": 75em,
);

$clr-primary: (
  100: hsl(0, 91%, 95%),
  200: hsl(0, 91%, 71%),
  300: hsl(0, 84%, 60%),
  400: hsl(0, 72%, 51%),
  500: hsl(0, 74%, 42%),
);

$clr-accent: (
  100: hsl(46, 97%, 65%),
  400: hsl(43, 96%, 56%),
  900: hsl(38, 92%, 50%),
);

$clr-neutral: (
  50: hsl(0, 0%, 100%),
  100: hsl(220, 14%, 96%),
  400: hsl(217, 19%, 27%),
  900: hsl(221, 39%, 11%),
);
