@use "../abstracts" as *;
@use "../base" as *;

.home {
  display: grid;
  grid-template-columns: 1fr 1.2fr;

  & > div {
    position: relative;
    min-height: 100dvh;
    background-color: hsl(0, 0%, 5%);
    isolation: isolate;

    video {
      position: absolute;
      min-height: 100dvh;
      inset: 0;
      object-fit: cover;
      z-index: -1;
    }

    div {
      padding: 1em;
      color: hsl(0, 0%, 100%);
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      align-items: left;
      justify-content: center;
      height: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 1em;

    form {
      width: 100%;

      button[type="submit"] {
        width: 80%;
        margin-top: 0.5em;
        padding-block: 0.8em;
      }

      .end {
        margin-top: 0.5em;

        button {
          @extend %button;
          background-color: transparent;
          display: inline-block;
          margin-left: 0.3em;
          font-weight: bold;

          &:is(:hover, :focus-visible) {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .form-input-hoc,
  .custom-dropdown {
    width: 80%;
    margin-inline: auto;
    margin-bottom: 1.5em;
  }

  @include max(medium) {
    display: block;

    & > div {
      min-height: 0;
      height: max-content;

      video {
        position: absolute;
        min-height: 0;
        height: 100%;
        min-width: 100%;
        object-fit: cover;
      }

      div {
        min-height: 100%;
      }
    }

    .content {
      padding-block: 2em 3em;

      form {
        button[type="submit"] {
          width: 90%;
        }
      }
    }

    .form-input-hoc,
    .custom-dropdown {
      width: 90%;
    }
  }
}
