@use "../../base" as *;

.search-result {
  --color: var(--clr-neutral-900);
  @extend .flex;
  @extend %link;
  justify-content: flex-start;
  padding: 1em;
  transition: all 0.3s;

  &:is(:hover, :focus-visible) {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-500);
  }

  img {
    width: 8em;
    aspect-ratio: 1;
    border-radius: 0.5em;
    object-fit: cover;
    object-position: center;
  }
}
